.card {
  width: 400px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 30px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.title {
  font-size: 24px;
  font-weight: bold;
}
.subTitle {
  font-size: 16px;
}
.subTitle > span {
  font-weight: bold;
}
.valueSection {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.editButton {
  background-color: inherit;
  border: none;
  border-radius: 100%;
  padding: 6px 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.editButton:hover {
  background-color: rgb(248, 248, 248);
}
.valueBox {
  flex: 1;
  max-height: 100px;
  overflow-y: auto;
  word-wrap: break-word;
  padding: 10px;
}
.valueText {
  font-size: 16px;
}
.dateSection {
  margin-bottom: 20px;
}
.goBackButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.goBackButton:hover {
  background-color: #0056b3;
}
.footer {
  display: flex;
  justify-content: center;
}
