.container {
  overflow: auto;
}
.listSection {
  margin: 0 20px;
}
.listRow {
  max-width: 900px;
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  background-color: rgb(196, 196, 196);
  padding: 7px 20px;
  border-radius: 5px;
  margin: 10px auto;
  gap: 10px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
}
.valueBox {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.button {
  padding: 5px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #dbdbdb;
}
.button:active {
  transform: translateY(1px);
}
.boxTodo {
  flex: 5;
  font-size: 18px;
  word-break: break-all;
}
.boxDate {
  flex: 1;
  font-size: 14px;
}
.boxId {
  flex: 1;
  font-size: 14px;
  margin-right: 10px;
}
.noTaskText {
  text-align: center;
  font-size: 30px;
  color: grey;
}
